{% extends 'allpage/base.html' %}
{% block content %}
{% load staticfiles %}
<!--<link rel="stylesheet" href="{% static 'post/main.css' %}" type="text/css">-->
<div class='container'>

        <h1>border</h1>
        <div class="bordertable">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">id</th>
                    <th scope="col">title</th>
                    <th scope="col">author</th>
                    <th scope="col">text</th>
                </tr>
            </thead>
                {% for post in border_search %}
                    <tr>
                        <th scope="row"></th>
                        <td>{{forloop.counter }}</td>
                        <td><a href="">{{post.title}}</a></td>
                        <td>{{post.author}}</td>
                        <td>{{post.body}}</td>
                        {{post.b}}
                    </tr>
                {% endfor %}

                <h1>당신이 입력한 검색어는 {{b.title}}</h1>

            </tbody>
        </table>
        </div>


</div>
{% endblock content %}